<nav class="green lighten-4">
    <div class="class nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <a href="/dashboard" class="brand-logo center">
            <img class ="navigation-logo" src="../img/GLOFNAV.svg" alt="">
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/scores">Scoreboard</a></li>
            <li><a href="/dashboard">My Playing History</a></li>
            <li><a href="/peer">Peer Review</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>  