
{{!-- ** using font awecome icon below.Font Awesome provides you with icon fonts --}}
<h3><i class="fa-solid fa-golf-ball-tee"></i>  GLOF</h3>
<div class="section">
    <p class="lead">Glof with your friends now</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>