<h2>Peer Golfer Lookup</h2>

{{#each followers}}
 {{!-- <div class="row"> --}}
    <div class="col s12 m6">
      <div class="card grey lighten-2">
        <div class="card-content">
            <div class="peer-golfer-card">
                 <a href="/profile/{{_id}}"><span>{{displayName}}, </span></a>
                <span>Handicap index: {{handicapIndex}}</span>
            </div>
            <div>
    
            </div>
        </div>
      </div>
    </div>
  {{!-- </div> --}}
{{/each}}
          