@font-face{
	font-family: Bobby Jones;
	src: url(../font/BobbyJones/Bobby\ Rough\ Soft.ttf);
}

body {background-color: whitesmoke;
    /* font-family: 'Bobby Jones'; */
}

img.navigation-logo {
    /* Margin-top: .3em; */
    height: 50px;
}

a.brand-logo.center {
    Margin-top: 0.3em;
    height: 50px;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p { 
    margin: 10px 0 !important;
}

.fa-small {
    /* use !important to override materialize */
    font-size: 16px !important;

}

.btn-float{
    float: left;
    margin-right: 10px;
}


.img-small{
    width:150px;
    background-color: dark 
}

button.btn.waves-effect.waves-light.btn-small {
    left: auto;
    right: auto;
    margin: 20px 0 0 0;
}

.row.teal.lighten-5 {
    margin: 3em 0 -1em 0;
    height: 5em;
}

.row .col.s6 {
    width: 86%;
}


/* comment containers */
.card-panel.teal.lighten-2.comments{
    margin: 1em auto;
    width: 90%;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    color: white;
}