@font-face{
	font-family: Open Sans;
	src: url(../font/OpenSans/OpenSans-Medium.ttf);
}

body {background-color: whitesmoke;
    font-family: 'Open Sans';
}

.btn.teal.accent-1 {
    color: gray;
  }

a {
    color: black;
}

a.btn-floating.btn-large.createscorebtn {
    background: #7dc6d5;
}

img.navigation-logo {
    /* Margin-top: .3em; */
    height: 50px;
}

a.brand-logo.center {
    Margin-top: 0.3em;
    height: 50px;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p { 
    margin: 10px 0 !important;
}

.fa-small {
    /* use !important to override materialize */
    font-size: 16px !important;

}

.btn-float{
    float: left;
    margin-right: 10px;
}

.dashboard-header {
    font-size: 1.5em;
  }


.img-small{
    width:150px;
    background-color: dark 
}

button.btn.waves-effect.waves-light.btn-small {
    left: auto;
    right: auto;
    margin: 20px 0 0 0;
}

.row.teal.lighten-5 {
    margin: 3em 0 -1em 0;
    height: 5em;
}

.row .col.s6 {
    width: 86%;
}

/* scoreboard container */
.card {
    margin: 3em 0;
}

/* comment containers */
.card-panel.teal.lighten-2.comments{
    margin: .5em auto;
    width: 90%;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    color: white;
}

.deleteButton.btn {
    padding: 0 3px;
    background-color: whitesmoke;
    box-shadow: none;
  }
.card .card-content {
    padding: .3em;
    border-radius: 0 0 2px 2px;
}

button.btn.grey.comment-delete-button {
    padding: 0 0.4em;
}

.delete-edit-buttons {
    display: flex;
    justify-content: space-around;
    width:60px;
  }

  .handicapIndex {
    font-size: xx-large;
    color: chocolate;
  }

  .small.btn.lime.lighten-2 {
    padding: 0 3px;
    background-color: whitesmoke !important;
    box-shadow: none;
  }
  .small.material-icons {
    color: gray;
  }

.chip {
    white-space: nowrap;
}

/* scoreboard comment form */
form#comment-form {
    margin-bottom: 1em;
}

p.comment-text {
    margin: 0 0.5em !important;
    text-align: initial;
}

.chip.comment-nametag {
    margin: auto 0.15em;
}


/* profile score containers  */
.row .col{
    padding:0;
}

.card.story {
    padding: .5em;
  }

  .col.s12.m6 {
    padding: 0 .5em;
  }

 
/* delete buttons on dashboard */

form#delete-form {
    margin: auto 0;
    padding-right: 0.5em;
    margin-left: inherit;
}

.deleteButton {
  background: none;
  border-style: none;
  margin-left: inherit;
}

.tiny.material-icons {
    color: gray;
    background-color: whitesmoke;
  }

label {
    pointer-events: none;
  }


/* Media queries  */
@media only screen and (min-width: 451px) and (max-width: 720px) {
    .row .col.s6 {
        width: 80%;
    }
  }

  @media only screen and (max-width: 450px) {
    .row .col.s6 {
        width: 75%;
    }

    .card-panel.teal.lighten-2.comments {
        width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    img.navigation-logo {
        Margin-top: -0.15em;
    }
}

