@font-face{
	font-family: Open Sans;
	src: url(../font/OpenSans/OpenSans-Medium.ttf);
}

body {background-color: whitesmoke;
    font-family: 'Open Sans';
}

img.navigation-logo {
    /* Margin-top: .3em; */
    height: 50px;
}

a.brand-logo.center {
    Margin-top: 0.3em;
    height: 50px;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p { 
    margin: 10px 0 !important;
}

.fa-small {
    /* use !important to override materialize */
    font-size: 16px !important;

}

.btn-float{
    float: left;
    margin-right: 10px;
}


.img-small{
    width:150px;
    background-color: dark 
}

button.btn.waves-effect.waves-light.btn-small {
    left: auto;
    right: auto;
    margin: 20px 0 0 0;
}

.row.teal.lighten-5 {
    margin: 3em 0 -1em 0;
    height: 5em;
}

.row .col.s6 {
    width: 86%;
}

/* scoreboard container */
.card {
    margin: 3em 0;
}

/* comment containers */
.card-panel.teal.lighten-2.comments{
    margin: .5em auto;
    width: 90%;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
    color: white;
}

.card .card-content {
    padding: .3em;
    border-radius: 0 0 2px 2px;
}

button.btn.grey.comment-delete-button {
    padding: 0 0.4em;
}

.chip {
    white-space: nowrap;
}

/* scoreboard comment form */
form#comment-form {
    margin-bottom: 1em;
}

p.comment-text {
    margin: 0 0.5em !important;
}

.chip.comment-nametag {
    margin: auto 0.15em;
}

/* profile score containers  */
.row .col{
    padding:0;
}

.card.story {
    padding: .5em;
  }

  .col.s12.m6 {
    padding: 0 .5em;
  }

 
/* delete buttons on dashboard */

form#delete-form {
    margin: auto 0;
    padding-right: 0.5em;
}

.deleteButton {
  background: none;
  border-style: none;
  margin-left: inherit;
}

label {
    pointer-events: none;
  }


/* Media queries  */
@media only screen and (min-width: 451px) and (max-width: 720px) {
    .row .col.s6 {
        width: 80%;
    }
  }

  @media only screen and (max-width: 450px) {
    .row .col.s6 {
        width: 75%;
    }

    .card-panel.teal.lighten-2.comments {
        width: 100%;
    }
  }

  @media only screen and (max-width: 600px) {
    img.navigation-logo {
        Margin-top: -0.15em;
    }
}

